@import url(//fonts.googleapis.com/css?family=Open%20Sans%20Condensed:600);

body {
    margin:0;
    font-family:'Open Sans Condensed', sans-serif;
    text-align:left;
    color: #777;
}

.welcome {
    /*text-align;center;*/
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

a, a:visited {
    text-decoration:none;
}

h1 {
    font-size: 22px;
    margin: 16px 0 0 0;
}